
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@400;700&family=Ysabeau+Infant:wght@400;700&display=swap');

body{
    background-color: #212529;
    color: aliceblue;
    font-family: 'Ysabeau Infant', sans-serif;
    overflow-x: hidden;
}
header{
    font-size: 18px;
}
main h1{
    font-size: 50px;
    font-weight: bold;
}
main p{
    font-size: 20px;
}
main h2{
    font-size: 45px;
}
main h3{
    font-size: 30px;
    color: rgb(207, 120, 39);
}
section h4{
    font-size: 30px;
}
.text-home{
    font-size: 27px;
}
main h5{
    font-size: 35px;
}
footer{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}
footer h1{
    font-size: 50px;
    font-weight: bold;
}
footer li{
    font-size: 23px;
}
.color-nav, .nav-link, footer{
    background-color: #1B1F22;
    color: white;
}
.nav-link:hover, .navbar-nav .active{
    color: #71BF44;
}
.navbar-nav .active{
    background-color: #71BF44;
}
@media(max-width:991px){
    .navbar-nav .active{
    background-color: #71BF44;
    width: 150px;
    text-align: center;
    }
}
.gcLogo{
    width: 50px;
    margin: 0px 15px 0px 50px;
}
.navbar-toggler{
    background-color: #0F75BC;
}
.text-footer{
    font-size: 20px;
}
.cf{
    height: 20vh;
}
.mr-1{
    margin-right: 9px;
}
.logos-footer{
    width: 50px;
}
.img-home{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.banner1{
    background-image: url(img/img-colaborar.jpg);
}
.banner2{
    background-image: url(img/banner2.jpg);
}
.banner3{
    background-image: url(img/banner3.jpg);
}
.banner4{
    background-image: url(img/banner4.jpg);
}
.banner5{
    background-image: url(img/banner5.jpg);
}
.banner6{
    background-image: url(img/banner6.jpg);
}
@media (min-width: 280px) {
    .img-text-home{
        width: 250px;
        height: 500px;
    }
}
.ch1{
    background-color: #0f74bce1;
    width: 500px;
    border: 1px solid #020202;
}
.cp1{
    color: rgb(255, 230, 230);
    font-weight: bold;
    font-size: 18px;
    background-color: #0f74bca2;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #000000;
}
.img-main{
    width: 140px;
    height: 110px;
}
@media (min-width: 1600px){
    .img-main{
        margin-right: -90px;
    }
}
.img-card-home{
    width: 350px;
}
.color-article-h4 strong{
    color: #0F75BC;
}
.l-i, .l-f{
    width: 45px;  
}

/*Clases para page QuienesSomos*/
.text-img-qs{
    height: 500px;
    width: 1000px;
}
.color-qs{
    background-color: #0f74bce1;
    width: 800px;
    border: 1px solid #000000;
}
@media (max-width: 1200px) {
    .text-img-qs, .color-qs, .ch1{
        width: auto;
    }
}
.color-cr{
    background-color: #61a53a;
    color: rgb(0, 0, 0);
}
@media (max-width: 767px){
    .rup{
        display: none;
    }
}
/*Clases para page Proyecto*/
.img-p-proyecto{
    width: 350px;
}
.img-card-proyecto{
    width: 200px;
}
.color-p-proyecto{
    color: rgba(247, 233, 45, 0.849);
}
.color-h1-proyecto{
    background-color:rgba(119, 24, 148, 0.527);
    width: 300px;
    height: 70px;
}
.img-main-proyecto{
    width: 140px;
    height: 110px;
    margin-right: 50px;
}
/*Clases para page Actividades*/
.img-actividades{
    width: 500px;
}
.carousel-size{
    max-width: 900px;
    max-height: 900px;
}
.color-h-actividades{
    background-color: rgba(119, 24, 148, 0.74);
    width: 250px;
}
@media (max-width: 767px){
    .color-h-actividades{
        width: auto;
        text-align: center;
    }
    .c-a{
        text-align: center;
    }
}
.img-actividad-1{
    width: 290px;
}
/*Clases para page Inscripciones*/
.img-inscripciones{
    width: 400px;
}
.active-i{
    background-color:#0F75BC;
    border: 1px solid #000000;
}
@media(min-width:992px){
    .border-right{
        border-right: 1px solid white;
    }
}
section li{
    font-size: 20px;
}
.form-inscripcion{
    font-size: 20px;
}
.req-inscrip{
    border: 1px solid #000000;
}
/*Clases para page Colaborar*/
.img-colaborar, .text-colaborar{
    width: 900px;
}
@media (max-width:840px){
    .text-colaborar{
        width: auto;
    }
}
.btn-colaborar{
    font-family: 'Inconsolata', monospace;
    height: 50px;
    font-size: 25px;
}
.m-custom{
    margin-top: 100px;
}
.mb-custom{
    margin-bottom: 100px;
}
/*Para barra de desplazamiento*/
::-webkit-scrollbar {
    -webkit-user-select:none;
    user-select: none;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
}
@media(max-width:357px){
    .text-sm1{
        font-size: 35px;
    }
    .text-sm2{
        font-size: 17px;
    }
}



